[project]
	description = Emacs OS configuration...
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gregory Meno (GregMeno)
[access "refs/for/refs/*"]
	read = group user/Gregory Meno (GregMeno)
	push = group user/Gregory Meno (GregMeno)
	label-Code-Review = -2..+2 group user/Gregory Meno (GregMeno)
	label-Verified = -1..+1 group user/Gregory Meno (GregMeno)
	rebase = group user/Gregory Meno (GregMeno)
	removeReviewer = group user/Gregory Meno (GregMeno)
	submit = group user/Gregory Meno (GregMeno)
[access "refs/heads/*"]
	read = group user/Gregory Meno (GregMeno)
	create = group user/Gregory Meno (GregMeno)
	push = +force group user/Gregory Meno (GregMeno)
	pushMerge = group user/Gregory Meno (GregMeno)
[access "refs/tags/*"]
	push = +force group user/Gregory Meno (GregMeno)
	pushTag = group user/Gregory Meno (GregMeno)
	pushSignedTag = group user/Gregory Meno (GregMeno)
